* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-size: 16px; */
  background: hsl(244, 48%, 94%);
  height: 900px
}

main {
  margin: auto;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 1440px;
  background-image: url(bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  justify-content: space-evenly;
}
.bottom-button {
  background-color: hsl(154, 59%, 51%);
  width: 300px;
  height: 60px;
  margin-top: 15px;
  margin-left: 50px;
  width: 400px;
  border-radius: 5px;
}

.bottom-button a {
  text-align: center;
  margin-top: 60px;
}
.bottom-button a {
  text-decoration: none;
}

.top-button {
  background-color: hsl(248, 32%, 49%);
  width: 500px;
  height: 60px;
  border-radius: 10px;
  color: white;
  border-color: transparent;
}
.top-button a {
  color: white;
  text-decoration: none;
}
.form {
  width: 500px;
  height: 540px;
  background: #ffff;
  border-radius: 10px;
}
h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.fields {
  margin: auto;
  display: block;
  justify-content: space-between;
  margin-top: 20px;
}
input {
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 50px;
  height: 55px;
  width: 400px;
  border-color: hsl(248, 39%, 88%);
  border-style: solid;
}
.form input:active {
  border-color: solid aliceblue;
}

b {
  font-size: 16px;
}
.terms {
  position: relative;
  color: hsl(246, 25%, 77%);
  width: 400px;
  font-size: 11px;
  margin: auto;
  bottom: 30px;
}
h6 {
  position: relative;
  color: white;
  top: 20px;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  margin-left: 100px;
}
a {
  height: 60px;
  text-decoration: none;
}
h4 {
  position: relative;
  margin-left: 100px;
  top: 20px;
  font-family: "Poppins", sans-serif;
}
span {
  color: hsl(0, 100%, 74%);
}

@media screen and (max-width:371px) {
  main{
    width: 720px;
  }
}